<h2>The Munich Agreement</h2>

<p>Munich, 29 September 1938</p>

<p>Germany, the United Kingdom, France and Italy have agreed with regard to the agreement, which was essentially reached in the matter of the withdrawal of the Sudeten German territory, on these conditions and on the means of such withdrawal and on the measures to be taken, and declare that under this Agreement everyone individually answer for the steps to be taken to ensure its implementation.</p>

<p>§ 1 <br>
Clearances will begin on 1 October.</p>

<p>§ 2 <br>
The United Kingdom, France and Italy agree that the evacuation will be done by 10 October, without destroying any existing facilities, and that the Czechoslovak government is responsible for ensuring that the evacuation is done without damaging the stated facilities.</p>
