mixin navigationButtonPrevious()
  a.nav-button.nav-button-prev.nav-left(data-save-button data-nav-button="prev" title= t.navigation.hotkeys[lang] + ": 'shift+space', 'shift+enter', '←'")
    span= t.navigation.previous[lang]
    i.icon-svg
      svg
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle")

mixin navigationButtonNext()
  a.nav-button.nav-button-next.nav-right(data-save-button data-nav-button="next" title= t.navigation.hotkeys[lang] + ": 'space', 'enter', '→'")
    span= t.navigation.next[lang]
    i.icon-svg
      svg
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-angle")

.navigation
  +navigationButtonPrevious()
  +pagination()
  +navigationButtonNext()
