<h1>Kdo si plete demokracii s anarchií.</h1>
<p>Provokační protisocialistické vystoupení v centru Prahy.</p>
<p>Praha (Od našich zpravodajů) – Slavnostní atmosféra státního svátku a 70.&nbsp;výročí&nbsp;vzniku&nbsp;Československa narušilo v pátečních odpoledních hodinách na Václavském a Staroměstském náměstí v Praze provokační vystoupení asi 2000 osob. Sešly se zde přes výslovný zákaz Obvodního národního výboru v Praze 1.</p>
<p>[…]</p>
<p>Před patnáctou hodinou se v pátek 28.&nbsp;října v horní části Václavského náměstí shromáždilo asi 300 osob. Bylo zřejmé, že organizátoři protisocialistické demonstrace od svého záměru neustoupili.</p>
